<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edmt.dev.androidgridlayout">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityRegister" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ActivityEngineering" />
        <activity android:name=".ActivityNational" />
        <activity android:name=".ActivityPrivate" />
        <activity android:name=".ActivityAgriculture" />
        <activity android:name=".ActivityGeneral" />
        <activity android:name=".ActivityMedical" />
        <activity android:name=".EngBuetOptions" />
        <activity android:name=".EngBuetNotice" />
        <activity android:name=".EngMistOptions" />
        <activity android:name=".EngMistNotice" />
        <activity android:name=".EngRuetOptions" />
        <activity android:name=".EngRuetNotice" />
        <activity android:name=".EngKuetOptions" />
        <activity android:name=".EngKuetNotice" />
        <activity android:name=".EngCuetOptions" />
        <activity android:name=".EngCuetNotice" />
        <activity android:name=".EngBuetSeats" />
        <activity android:name=".GenDuOptions" />
        <activity android:name=".GenRuOptions" />
        <activity android:name=".GenDuNotice" />
        <activity android:name=".EngBuetDepartment" />
        <activity android:name=".EngMistResult" />
        <activity android:name=".EngMistDepartment" />
        <activity android:name=".ClgMirOptions" />
        <activity android:name=".ClgMirDepartment" />
        <activity android:name=".ClgMirNotice" />
        <activity android:name=".ClgMirResult" />
        <activity android:name=".ClgTituOptions" />
        <activity android:name=".ClgTegOptions" />
        <activity android:name=".ClgTegDepartment" />
        <activity android:name=".ClgTegNotice" />
        <activity android:name=".ClgTegResult" />
        <activity android:name=".PrivEWOptions" />
        <activity android:name=".PrivNSOptions" />
        <activity android:name=".PrivDafOptions" />
        <activity android:name=".PrivBRACOptions" />
        <activity android:name=".PrivGreenOptions" />
        <activity android:name=".PrivAhsanOptions" />
        <activity android:name=".AgriBAUOptions" />
        <activity android:name=".AgriBangabandhuOptions" />
        <activity android:name=".AgriSherOptions" />
        <activity android:name=".AgriSylhetOptions" />
        <activity android:name=".LiveExam"></activity>
    </application>

</manifest>